---
import '../styles/global.css'
import { pages } from '../lib/data/pages'
import Container from '../components/Container.astro'
import Nav from '../components/nav/Nav.astro'
import NavItem from '../components/nav/Item.astro'
import PreloadLinks from '../components/PreloadLinks.astro'
import Favicon from '../components/meta/Favicon.astro'

export interface Props {
  title?: string
  animate?: boolean
  ogImage?: string
  ogType?: string
  description?: string
}

const {
  title = undefined,
  ogImage = 'default',
  ogType = 'blog',
  description = `
    Arnor is a software developer and designer hailing from Iceland who writes
    about software development and design
  `,
} = Astro.props as Props

const titleTag = (title ? `${title} - ` : '') + 'arnorhs.dev'

const activePath = (Astro.request.url as unknown as URL).pathname
const fullUrl = Astro.request.url.toString()
const dtUpdated = new Date().toISOString()
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{titleTag}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content={`${Astro.site}og-image/${ogImage}.jpg`} />
    <meta property="og:title" content={titleTag} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={fullUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:updated_time" content={dtUpdated} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@arnorhs" />
    <meta name="twitter:title" content={titleTag} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${Astro.site}og-image/${ogImage}.jpg`} />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for arnorhs.dev"
      href="/rss.xml"
    />

    <Favicon />
  </head>
  <body>
    <div class="px-4 sm:px-8 lg:px-0">
      <header>
        <Container>
          <Nav>
            <NavItem first title="home" href="/">arnorhs</NavItem>

            {
              pages.map(({ slug, shortTitle, title }) => (
                <NavItem href={`/${slug}/`} active={activePath === `/${slug}/`} title={title}>
                  {shortTitle}
                </NavItem>
              ))
            }
          </Nav>
        </Container>
      </header>

      <Container>
        <main class="min-h-screen">
          <slot />
        </main>
      </Container>
    </div>

    <div>
      <footer class="mt-8 px-2 lg:px-0 py-6 bg-myblue text-myblue-bright">
        <Container>
          &copy; Arnór Heiðar Sigurðsson, all rights reserved. - <a
            class="text-myblue-bright underline"
            href="/disclaimer">Disclaimer</a
          >
        </Container>
      </footer>
    </div>

    <PreloadLinks />
    <script
      async
      defer
      data-website-id="32a08c5e-7ba7-46c0-ae6d-cf98a5b41582"
      src="https://app.usehardal.com/hardal.js"
    ></script>
  </body>
</html>
