---
import { pages } from '../lib/data/pages'
import Container from '../components/Container.astro'
import Nav from '../components/nav/Nav.astro'
import NavItem from '../components/nav/Item.astro'
import PreloadLinks from '../components/PreloadLinks.astro'
import { FancyPanel } from '../solidjs/src/FancyPanel.tsx'
import TagManagerHead from '../components/meta/TagManagerHead.astro'
import TagManagerBody from '../components/meta/TagManagerBody.astro'
import Fonts from '../components/meta/Fonts.astro'
import Favicon from '../components/meta/Favicon.astro'

export interface Props {
  title?: string
  animate?: boolean
  ogImage?: string
  ogType?: string
  description?: string
}

const {
  title = undefined,
  animate = false,
  ogImage = 'default',
  ogType = 'blog',
  description = `
    Arnor is a software developer and designer hailing from Iceland who writes
    about software development and design
  `,
} = Astro.props as Props

const titleTag = (title ? `${title} - ` : '') + 'arnorhs.dev'
const fancySeed = Math.random() * Number.MAX_SAFE_INTEGER

const activePath = Astro.request.url.pathname
const fullUrl = Astro.request.url.toString()
const dtUpdated = new Date().toISOString()
---
<html lang="en">

<head>
  <TagManagerHead />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{titleTag}</title>
  <meta name="description" content={description} />
  <meta property="og:image" content={`${Astro.site}og-image/${ogImage}.jpg`} />
  <meta property="og:title" content={titleTag} />
  <meta property="og:type" content={ogType} />
  <meta property="og:url" content={fullUrl} />
  <meta property="og:description" content={description} />
  <meta property="og:updated_time" content={dtUpdated} />

  <Fonts />
  <Favicon />

  <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
</head>

<body
  style="
    background:
      linear-gradient(95deg, rgba(240,20,20,.04), rgba(240,20,20,0) 70.71%),
      linear-gradient(270deg, rgba(20,240,20,.03), rgba(20,240,20,0) 70.71%),
      linear-gradient(150deg, rgba(20,20,240,.04), rgba(20,20,240,0) 70.71%)
  "
>
  <TagManagerBody />

  <FancyPanel client:load randomSeed={fancySeed} animate={animate} />

  <div class="px-2 lg:px-0">
    <header>
      <Container>
        <Nav>
          <NavItem first title="home" href="/">arnorhs</NavItem>

          {pages.map(({ slug, shortTitle, title }) => (
            <NavItem href={`/${slug}/`} active={activePath === `/${slug}/`} title={title}>{shortTitle}</NavItem>
          ))}
        </Nav>
      </Container>
    </header>

    <Container>
      <main class="min-h-screen">
        <slot />
      </main>
    </Container>
  </div>

  <div>
    <footer class='mt-8 px-2 lg:px-0 py-6 bg-myblue text-myblue-lighter'>
      <Container>
        &copy; 2008 - Arnór Heiðar Sigurðsson, all rights reserved
      </Container>
    </footer>
  </div>
  <PreloadLinks />
</body>
</html>
